<ion-header>
  <ion-toolbar>
    <ion-title>{{curso.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{curso.nome}}</ion-card-title>
      <ion-card-subtitle>Prof. {{curso.professor}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{curso.descricao}}</ion-card-content>
  </ion-card>  
  <ion-list>
    <ion-item *ngFor="let aula of curso.aulas">
      <ion-label>{{aula.link}}</ion-label>
      <ion-button (click)="veraula(aula.link);">ASSISTIR</ion-button>
    </ion-item>    
  </ion-list>
</ion-content>
